alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias cd.='cd ..'
alias cd..='cd ..'
alias k9='kill -9 %%'
alias egrep='grep -E'
alias fgrep='grep -F'
alias ls='ls -FG'
alias m='less'
alias md='mkdir'
alias p='pstree -p'
alias sl='ls'
alias tmp='cd /tmp'
alias l='ls -la'
alias dh='df -h'
alias ds="du -hs * | sort s"
alias rs='bundle exec rails s'
alias rc='bundle exec rails c'
alias v='vim'
alias vi='vim'
alias speed400='wget http://cachefly.cachefly.net/400mb.test > /dev/null'
alias speedtest='speedtest-cli'
alias filetree="ls -R | grep ":$" | sed -e 's/:$//' -e 's/[^-][^\/]*\//--/g' -e 's/^/ /' -e 's/-/|/'"
alias gcempty="git commit --allow-empty -m 'empty -- forcing deploy' && ggpush"
alias lusers="dscl . list /Users | grep -v '^_'"
alias ion="ionic serve"
alias cppcompile='c++ -std=c++11 -stdlib=libc++'
alias zshrc="vim ~/.zshrc"
alias zshrcr='source ~/.zshrc'
alias bashrc="vim ~/.bashrc"
alias love="/Applications/love.app/Contents/MacOS/love"
alias showFiles='defaults write com.apple.finder AppleShowAllFiles YES; killall Finder /System/Library/CoreServices/Finder.app'
alias hideFiles='defaults write com.apple.finder AppleShowAllFiles NO; killall Finder /System/Library/CoreServices/Finder.app'
alias themes='prompt -l'
